.scoreboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 18rem;
    font-size: 1.5em;
    background-color: white;
    margin: 3rem auto ;
    box-shadow: 0px 0px 8px #888;
    border-radius: 0.5rem;
    font-weight: bold;
    font-family: cursive;
}

.score{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}
.x-score{
    color: rgb(204, 15, 15); 
    border-bottom: 5px solid rgb(204, 15, 15); 
    border-radius: 0.5rem 0 0 0.5rem;
}
.o-score{
    color: rgb(8, 8, 175); 
    border-bottom: 5px solid rgb(8, 8, 175); 
    border-radius:0 0.5rem 0.5rem 0;
}
.inactive{
    border-bottom: 5px solid transparent ;
}

