/* *{
  margin: 0;
  padding: 0;
} */
.App {
  text-align: center;
  /* font-family: cursive;
  background-color: rgb(218, 244, 235);
  box-sizing: border-box;
  height: 100vh;
  width: 50%;
  margin-left: 25%; */
}
/* .header{
  padding-top: 1rem;
  font-size: 2em;
  font-style: italic;
  color: rgb(13, 13, 155);
} */